/* Basic Setup */
:root {
    color-scheme: dark;
}

*::-webkit-scrollbar {
    background-color: transparent;
    width: 1.5vh;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.15);
}

input {
    font-size: medium;
}

/* Main Container */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 92vh;
    background-image: url("../images/bg.png");
}

/* Alerts */

@keyframes animateFront {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.alertCont p {
    font-size: large;
    animation: animateFront 1s;
}

.alertImg {
    position: relative;
    top: 1vh;
    height: 4vh;
    width: 3vh;
    object-fit: contain;
}