* {
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 30);
    font-family: 'Poppins', sans-serif;
}

input {
    color-scheme: dark;
}

nav {
    background-color: rgb(255, 106, 0);
    height: 8vh ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 8vh !important;
    width: 9vw !important;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 106, 0);
}

/* .logo h1,
.logo sub {
    color: black;
    background-color: rgb(255, 106, 0);
}

.logo sub {
    font-size: 1.4vh;
} */
.logo a img{
    display: block;
    height: 8vh;
    width: 9vw;
}
.navitems{
    background-color: rgb(255, 106, 0);
    height: 8vh !important;
    width: 36vw;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

.current {
    color: white !important;
}

.navitems li button {
    background-color: rgb(255, 106, 0);
    height: 8vh !important;
    width: 6vw;
    border: none;
    font-size: 2vh;
    color: black;
}

.navitems li button:hover,
.logout button:hover {
    background-color: rgb(243, 174, 12);
    color: white;
}