* {
    color: white;
}

/* Header */

.innerHeader {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}

/* Main */

.table {
    position: relative;
    min-height: 66vh;
    top: -3vh;
    padding: 3vh;
    width: 90vw;
    border: 2px solid white;
    border-radius: 2vh;
    box-shadow: 0 0 2vh rgb(176, 176, 7);
}

.dataTables_filter,
.dataTables_length {
    margin-bottom: 3vh;
}


th {
    margin-top: 2vh;
}

th,
td {
    margin: 2vh;
    padding: 0.7vh;
    border: 0.1vh solid white;
}

#customersTable.dataTable tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.addBtn {
    height: 3vh;
    width: 8vw;
    border: none;
    font-size: 1.8vh;
    color: black;
    border-radius: 1vh;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    background: rgba(184, 233, 38, 0.541);
}

.addBtn:hover {
    background-color: white;
}

/* Modal */

.modalBody {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}