* {
    color: rgb(255, 255, 255);
}

/* Header */
.alertCont {
    /* color: transparent; */
    background: none;
    /* background-color: black; */
    height: 10vh;
    position: absolute;
    top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main */

.formContainer {
    border: 0.2vh solid white;
    border-radius: 2.5vh;
    height: 60vh;
    width: 27vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2vh rgb(176, 176, 7);
}

.formHeader {
    height: 15vh;
}

.formHeader img {
    height: 50%;
    position: relative;
    top: 4vh;
}

.formCl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.label {
    position: relative;
    top: -7.7vh;
    left: -7vw;
    pointer-events: none;
    transition: 0.3s;
}

.inp input:valid~span,
.inp input:focus~span {
    color: yellow;
    transform: translate(1vh, -1.7vw);
    font-size: small;
    background: transparent;
}

i {
    background-color: transparent;
}

#username,
#password {
    border: none;
    outline: none;
    height: 8vh;
    width: 20vw;
    border-radius: 4vh;
    margin: 0 0 2vh 0;
    padding: 0 0 0 4vh;
    background: rgba(255, 255, 255, 0.15);
}

.loginbtn {
    height: 6vh;
    width: 10vw;
    border: none;
    font-size: 2.2vh;
    color: black;
    border-radius: 5vh;
    outline: none;
    margin: 0 0 2vh 0;
    cursor: pointer;
    transition: 0.3s;
    background: rgba(71, 143, 226, 0.8);
}

.loginbtn:hover {
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(231, 214, 214, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.forgotPass{
    font-size: medium;
    margin-bottom: 4vh;
}
.forgotPass a{
    text-decoration: none;
    color: rgb(7, 235, 201);
    transition: 0.3s;
}
.forgotPass a:hover{
    color: yellow;
}