* {
    color: white;
}

h1 {
    text-align: center;
    font-family: 'Chivo Mono', monospace;
    margin-top: 4vh;
    padding-bottom: 4vh;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dataTables_filter,
.dataTables_length {
    margin-bottom: 3vh;
}

.tableContainer {
    padding: 3vh;
    border: 2px solid white;
    width: 90vw;
}

table,
th,
td {
    border: 0.1vh solid white;
}