* {
    color: white;
}

/* Header */

.innerHeader {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
}

.alertCont {
    /* color: transparent; */
    background: none;
    /* background-color: black; */
    height: 10vh;
    position: absolute;
    top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tables */

.dataTables_filter,
.dataTables_length {
    margin-bottom: 3vh;
}

.tableContainer {
    min-height: 66vh;
    position: relative;
    top: -3vh;
    padding: 3vh;
    border: 2px solid white;
    width: 90vw;
    border-radius: 2vh;
    box-shadow: 0 0 2vh rgb(176, 176, 7);
}

table,
th,
td {
    border: 0.1vh solid white;
}

#tasksTable.dataTable tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

/* Modal */

.modalBody {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Buttons */

.reviewBtn {
    height: 3vh;
    width: 8vw;
    border: none;
    font-size: 1.8vh;
    color: black;
    border-radius: 1vh;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    background: rgba(8, 0, 255, 0.541);
}

.reviewBtn:hover {
    background-color: white;
}

.pushBtn {
    height: 4.8vh;
    width: 8vw;
    border: none;
    font-size: 1.8vh;
    color: black;
    border-radius: 5vh;
    outline: none;
    margin-top: 3.5vh;
    cursor: pointer;
    transition: 0.3s;
    background: rgba(71, 143, 226, 0.8);
}

.pushBtn:hover {
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(231, 214, 214, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}